/*  COLOR  */
$purple_8:rgba(134,122,252,.8);
$purple:rgb(134,122,252);
$dark_purple: rgba(104, 93, 193, 0.83);
$purple_light: rgb(209, 205, 252);
$dark_blue:#3e3b82;
$light_blue:#99b2f9;
$light_light_blue: #c4cff9;
$hover_purple: #3200dc;
$footerPurpleTop:#4820ad;
$footerPurpleBottom:#7850ff;


$purple_blue1:#6464FF;

$blue:#4aa3ff;

$black:#444;


$dark_white: #fff;
$gray:#dfdfdf;
$light_gray:#f6f6f6;

$light_black:#999;
$dark_dark_gray: #b4b4b4;
$dark_gray:#ccc;

$red: #ce0000;

$orange:#fa842d;
$dark_orange: #dc5725;
$light_yellow:#fdd99b;
$yellow: #fdad64;




$footer_height:370px;
