
<footer class="footer">
    <!--<div class="f_top">-->
        <div class="container footer-pc" >
            <div class="row" >
                <div class="col-md-5">
                    <p class="under en_hide ko_hide">
                        <span>{|common.footer.menu.number|} </span>
                        <span class="hover">{|common.footer.menu.num-info|}</span>
                    </p>
                    <p class="under1 en_hide ko_hide">
                        <span>{|common.footer.menu.wChat|}(1):</span>
                        <a href="javascript:void(0);" class="hover ">vivi881999</a>
                    </p>
                    <p class="under2 en_hide ko_hide">
                        <span>{|common.footer.menu.wChat|}(2):</span>
                        <a href="javascript:void(0);" class="hover">Uselink123456</a>
                    </p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5 m-0 p-0">
                    <div class="icon_box">
                    <a href="https://weibo.com/u/6677072074" target="_blank">
                    <img src="../img/f_weibo.svg" alt="Weibo Link">
                    </a>

                    <a href="https://www.facebook.com/link.uselink" target="_blank">
                    <img src="../img/f_facebook.svg" alt="Facebook Link">
                    </a>

                    <a href="https://web.telegram.org/#/im?p=g230357111" target="_blank">
                    <img src="../img/f_telegram.svg" alt="Telegram Link">
                    </a>

                    <a href="https://twitter.com/link_use" target="_blank">
                    <img src="../img/f_twitter.svg" alt="Twitter Link">
                    </a>

                    <a href="javascript:void(0)" target="_blank">
                    <img src="../img/f_github.svg" alt="Github Link">
                    </a>
                    </div>
                    <p class="unders">
                        <span>{|common.footer.menu.email|}</span>
                        <a href="mailto:Uselink@protonmail.com" class="hover " target="_blank" title="MailTo">Uselink@protonmail.com</a>
                    </p>
                </div>
            </div>
            <div class="row row-under">
                <div class="underbox">
                    <span><a href="ask_answer.html">FAQ</a></span>
                    <span><a href="JavaScript:void(0);" target="_blank" class="server_btn" >{|index.server|}</a></span>
                    <span><a href="JavaScript:void(0);" target="_blank" class="policy_btn" >{|index.policy|}</a></span>
                </div>
            </div>
            <div class="row row-CopyRight">
                <p class="CopyRight">Copyright © 2018 Uselink.cc All rights reserved.</p>
            </div>
        </div>

       <!--手机端-->
       <div class="container footer-mob">
           <div class="row">
               <div class="col-md-12 text-center">
                   <p class="en_hide ko_hide">
                       <span>{|common.footer.menu.number|} </span>
                       <span class="hover">{|common.footer.menu.num-info|}</span>
                   </p>
                   <p class="en_hide ko_hide">
                       <span>{|common.footer.menu.wChat|}(1):</span>
                       <a href="javascript:void(0);" class="hover ">vivi881999</a>
                   </p>
                   <p class="en_hide ko_hide">
                       <span>{|common.footer.menu.wChat|}(2):</span>
                       <a href="javascript:void(0);" class="hover">Uselink123456</a>
                   </p>
               </div>
               <div class="col-md-12 text-center">
                   <div class="icon_box">
                       <a href="https://weibo.com/u/6677072074" target="_blank">
                           <img src="../img/f_weibo.svg" alt="Weibo Link">
                       </a>

                       <a href="https://www.facebook.com/link.uselink" target="_blank">
                           <img src="../img/f_facebook.svg" alt="Facebook Link">
                       </a>

                       <a href="https://web.telegram.org/#/im?p=g230357111" target="_blank">
                           <img src="../img/f_telegram.svg" alt="Telegram Link">
                       </a>

                       <a href="https://twitter.com/link_use" target="_blank">
                           <img src="../img/f_twitter.svg" alt="Twitter Link">
                       </a>

                       <a href="javascript:void(0)" target="_blank">
                           <img src="../img/f_github.svg" alt="Github Link">
                       </a>
                   </div>

                   <p class="unders">
                       <span>{|common.footer.menu.email|}</span>
                       <a href="mailto:Uselink@protonmail.com" class="hover " target="_blank" title="MailTo">Uselink@protonmail.com</a>
                   </p>
               </div>

           </div>
           <div class="row row-under">
               <div class="underbox">
                   <span><a href="ask_answer.html">FAQ</a></span>
                   <span><a href="JavaScript:void(0);" target="_blank" class="server_btn" >{|index.server|}</a></span>
                   <span><a href="JavaScript:void(0);" target="_blank" class="policy_btn" >{|index.policy|}</a></span>
               </div>
           </div>
           <div class="row row-CopyRight">
               <p class="CopyRight">Copyright © 2018 Uselink All rights reserved.</p>
           </div>
       </div>







        <!--<div class="contact_us">-->
            <!--<p class="title">{|common.footer.menu.contacts|}</p>-->

            <!--<div class="icon_box">-->
                <!--<a href="https://weibo.com/u/6677072074" target="_blank">-->
                    <!--<img src="../img/f_weibo.svg" alt="Weibo Link">-->
                <!--</a>-->

                <!--<a href="https://www.facebook.com/link.uselink" target="_blank">-->
                    <!--<img src="../img/f_facebook.svg" alt="Facebook Link">-->
                <!--</a>-->

                <!--<a href="https://web.telegram.org/#/im?p=g230357111" target="_blank">-->
                    <!--<img src="../img/f_telegram.svg" alt="Telegram Link">-->
                <!--</a>-->

                <!--<a href="https://twitter.com/link_use" target="_blank">-->
                    <!--<img src="../img/f_twitter.svg" alt="Twitter Link">-->
                <!--</a>-->

                <!--<a href="javascript:void(0)" target="_blank">-->
                    <!--<img src="../img/f_github.svg" alt="Github Link">-->
                <!--</a>-->
            <!--</div>-->

            <!--<div class="text_box">-->
                <!--<p class="en_hide ko_hide">-->
                    <!--<span>{|common.footer.menu.number|} </span>-->
                    <!--<span class="hover underline">{|common.footer.menu.num-info|}</span>-->
                <!--</p>-->

                <!--<p class="en_hide ko_hide">-->
                    <!--<span>{|common.footer.menu.wChat|}(1):</span>-->
                    <!--<a href="javascript:void(0);" class="hover underline">18575637929</a>-->
                <!--</p>-->

                <!--<p class="en_hide ko_hide">-->
                    <!--<span>{|common.footer.menu.wChat|}(2):</span>-->
                    <!--<a href="javascript:void(0);" class="hover underline">14776869786</a>-->
                <!--</p>-->

                <!--<p>-->
                    <!--<span>{|common.footer.menu.email|}</span>-->
                    <!--<a href="mailto:Uselink@protonmail.com" class="hover underline" target="_blank" title="MailTo">Uselink@protonmail.com</a>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="service_support">-->
            <!--<p class="title">{|common.footer.menu.support|}</p>-->

            <!--<div class="text_box">-->
                <!--<p>-->
                    <!--&lt;!&ndash;<a href="javascript:void(0)"><span class="hover underline">{|common.footer.menu.support-info|}</span></a>&ndash;&gt;-->
                    <!--<a href="ask_answer.html"><span class="hover underline">{|common.footer.menu.support-info|}</span></a>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="f_bottom">-->
        <!--<div class="f_b_box">-->
            <!--<p>{|common.footer.menu.website|}</p>-->

            <!--<p class="CopyRight">Copyright © 2018 Uselink.cc All rights reserved.</p>-->
        <!--</div>-->
    <!--</div>-->


</footer>
</body>
</html>