    <link type="image/x-icon" media="all" rel="shortcut icon" href="../img/favicon.ico"/>
    <link type="text/css" media="all" rel="apple-touch-icon" href="../img/favicon.ico">
    <link type="text/css" media="all" rel="stylesheet" href="../common/css/bootstrap.min.css">
    <link type="text/css" media="all" rel="stylesheet" href="../common/css/animate.min.css">
    <link type="text/css" media="all" rel="stylesheet" href="../common/css/font-awesome.min.css">
    <link type="text/css" media="all" rel="stylesheet" href="../css/common.min.css">

    <script src="../common/js/jquery.min.js"></script>
    <script src="../common/js/bootstrap.min.js"></script>
    <script src="../common/js/md5.min.js"></script>
    <script src="../js/common.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->