<link rel="stylesheet" href="https://at.alicdn.com/t/font_424142_o1sso6b1vk.css">
<link rel="stylesheet" href="https://at.alicdn.com/t/font_424142_8wmlis4tmk8.css">
</head>
<body>
<nav class="nav" id="nav">
    <div class="main">
        <img src="../img/logo_white.png" alt="Uselink Logo" class="logo hover" onclick="window.location.href='index.html'">

        <img src="../img/logo_iphoneSE.png" alt="Uselink Logo" class="logo_iphoneSE hover hide" onclick="window.location.href='index.html'">

        <nav class="main_right nav_pc">
            <a  href="index.html" class="index">{|common.header.menu.home|}</a>
            <a  href="vote.html"  class="vote strong">{|common.header.menu.voted|}</a>
            <a  href="http://block.uselink.cc" target="_blank">{|common.header.menu.browser|}</a>
            <a  href="JavaScript:void(0);" target="_blank" class="white_paper">{|common.header.menu.book|}</a>
            <a  href="news.html" class="news">{|common.header.menu.new|}</a>
            <a  href="wallet.html" class="wallet">{|common.header.menu.wallet|}</a>

            <!--登录按钮-->
            <div class="login_btn hide">
                <a href="login.html" class="login">{|common.header.menu.login|}</a>
            </div>
            <!--显示电话号码按钮-->
            <div class="user_info_btn hide">
                <span  id="phone"><i></i></span>

                <ul class="pc_userinfo_menu">
                    <li>
                        <a href="userinfo.html" class="user_info" data-val="${el.val}">{|common.nav.userinfo|}</a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" id="logout" data-val="${el.val}">{|common.nav.logout|}</a>
                    </li>
                </ul>
            </div>
            <!--注册按钮-->
            <div class="login_btn hide">
                <a href="register.html" class="register">{|common.header.menu.register|}</a>
            </div>
            <!--切换语言按钮-->
            <div class="change_language_btn">
                <span>{|common.change-btn|}<i class="iconfont icon-choose triangle"></i></span>

                <ul class="pc_language_menu"></ul>
            </div>

        </nav>
       <div class="clear"></div>


        <!--手机导航-->
        <nav class="main_right nav_mobile">
            <!--登录按钮-->
            <div class="login_btn show">
                <a href="login.html" class="login">{|common.header.menu.login|}</a>
            </div>
            <div class="user_info_btn hide">
                <span id="mobile_phone"><span class="iconfont icon-yonghu usericon" style="font-size: 15px;"></span><i></i></span>

                <ul class="pc_userinfo_menu">
                    <li>
                        <a href="userinfo.html" class="user_info"  id="mob-useinfo" data-val="${el.val}"></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" id="mobile_logout" data-val="${el.val}">{|common.nav.logout|}</a>
                    </li>
                </ul>
            </div>
            <div class="nav_mobile_left">
                <div class="change_language_btn">
                    <span>{|common.change-btn|}<i class="iconfont icon-choose triangle"></i></span>

                    <ul class="pc_language_menu"></ul>

                </div>
            </div>

            <div class="nav_mobile_right">
                <div class="menu_btn">
                    <span class="line"></span>
                </div>
            </div>
        </nav>

        <div class="menu_box" lang="{|common.lang|}">
            <ul>
                <li>
                    <a href="index.html">{|common.header.menu.home|}</a>
                </li>

                <li>
                    <a href="vote.html">{|common.header.menu.voted|}</a>
                </li>

                <li>
                    <a href="http://block.uselink.cc">{|common.header.menu.browser|}</a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="white_paper">{|common.header.menu.book|}</a>
                </li>

                <li>
                    <a href="news.html">{|common.header.menu.new|}</a>
                </li>

                <li>
                    <a href="wallet.html">{|common.header.menu.wallet|}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>