{%include "head_top.html"%}
<link rel="stylesheet" href="../common/css/amazeui.min.css">
{%include "head_link.html"%}
<link rel="stylesheet" href="https://at.alicdn.com/t/font_574291_rzcde1hrjoo.css">
<link rel="stylesheet" href="../css/ask_answer.min.css">
{%include "head_bottom.html"%}

<div style="height:60px;"></div>
<section id="ask_answer">
    <div class="body">
        <div role="main" class="main">
            <section class="container con-wrap">
                <!--搜索框-->
                <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                <!--<div class="input-wrap">-->
                <!--<input type="text">-->
                <!--<span class="iconfont icon-search big"></span>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->
                <!--问题回答-->
                 <div class="row">
                    <div class="col-md-12" id="content"></div>
                 </div>
            </section>
        </div>
    </div>
</section>

<script src="../js/ask_answer.min.js"></script>
{%include "footer.html"%}