{%include "head_top.html"%}
{%include "head_link.html"%}
    <link rel="stylesheet" href="../common/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/forgetpassword.min.css">
    <script src="../common/js/md5.min.js"></script>
    <script src="../js/forgot_pwd.min.js"></script>
{%include "head_bottom.html"%}

<div style="height:60px;"></div>
<section id="app-forgetpassword">
    <!-- trace:dev/page/html/vote.html -->
    <div class="body">

        <!-- ################## -->
        <div role="main" class="main">
            <!-- 全屏展示 -->
            <section  class="container-fluid m-0 p-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6  m-0 p-0">
                            <div class="bg"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-box">


                                <h1>{|forgetpassword.title|}</h1>
                                <ul>
                                    <li>


                                        <div class="item phone_div">
                                            <div class="select_box">
                                                <div class="select_default loading"
                                                     title="{|register.default_select_text|}"
                                                     data-num="{|register.default_select_num|}"
                                                     data-id="{|register.default_select_id|}">
                                                    <span>
                                                        <img src="{|register.default_select_icon|}">
                                                    </span>
                                                    <span>+{|register.default_select_num|} {|register.default_select_text|}</span>

                                                    <span class="loading_circle"></span>
                                                </div>

                                                <ul class="select_list"></ul>
                                            </div>
                                        </div>


                                        <input id="phone_input" class="login-input" placeholder="{|forgetpassword.phone|}" >
                                    </li>
                                    <li>
                                        <input id="graphic_code_input" class="login-input" placeholder="{|forgetpassword.img-code|}" >
                                        <span class="pic-code"></span>
                                    </li>
                                    <li>
                                        <input id="msg_code_input" class="login-input" placeholder="{|forgetpassword.phone-code|}" >
                                        <span id="send_msg" class="mes-code btn-download" data-text="{|forgetpassword.send|}">{|forgetpassword.send|}</span>
                                    </li>
                                    <li>
                                        <input id="password_input" type="password" class="login-input" placeholder="{|forgetpassword.new-pwd|}" >
                                        <span class="password-tip">{|forgetpassword.new-pwd-tip|}</span>
                                    </li>
                                    <li>
                                        <input id="password_again_input" type="password" class="login-input" placeholder="{|forgetpassword.confrim-pwd|}" >
                                    </li>
                                    <li>
                                        <span id="tip"></span>
                                        <span class="btn-login" id="forgot_password_btn">{|forgetpassword.btn-confrim|}</span>
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- ################## -->

    </div>
</section>
{%include "footer.html"%}

