{%include "head_top.html"%}

<meta property="og:url"                content="http://login.uselink.cc/" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Hello i am title" />
<meta property="og:description"        content="Hello i am description" />
<meta property="og:image"              content="http://uselink-static.oss-cn-hongkong.aliyuncs.com/news/article/1541065724665/articlePicture-1541065907566.jpg" />
<meta property="og:locale"             content="{|common.lang|}" />


<link rel="stylesheet" href="../common/css/amazeui.min.css">
{%include "head_link.html"%}


<link rel="stylesheet" href="../css/news_details.min.css">
<link rel="stylesheet" href="https://at.alicdn.com/t/font_889803_ksh0hm590ln.css" />
<script src="../js/news_details.min.js"></script>
{%include "head_bottom.html"%}

<div style="height:80px;background:linear-gradient(0, #6a50fa, #6551f1);"></div>

<section id="app-news_details">
    <div class="body">

        <div role="main" class="main">
            <!--正文-->
            <div class="container-fluid" style="background:#f7f7f7;padding-bottom: 200px;overflow: hidden">
                <section class="container article">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="box" id="box">
                                <div class="loading">
                                    <div class="loading_circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</section>

<script src="../common/js/amazeui.min.js"></script>
{%include "footer.html"%}