{%include "head_top.html"%}
<link rel="stylesheet" href="../common/css/amazeui.min.css">
{%include "head_link.html"%}
<link rel="stylesheet" href="../css/useinfo.min.css">
<script src="../js/userinfo.min.js"></script>
{%include "head_bottom.html"%}

<section id="app-useinfo">

    <!--<div class="body">-->

    <!--<div role="main" class="main">-->
    <!-- 全屏展示 -->
    <!--<section class="container-fluid m-0 p-0">-->

    <div class="box">
        <!--<div class="row">-->
        <!--左边-->
        <div class="left">
            <ul>
                <li class="hover click-box colors">{|userinfo.title1|}</li>

                <li class="hover click-box">{|userinfo.title2|}</li>

                <li class="hover click-box" id="exit_apply">{|userinfo.title3|}</li>
            </ul>
        </div>


        <!--右边-->
        <div class="right">

            <!--个人资料-->
            <div class="item page1 active">
                <div class="userInfo_top">
                    <div class="left">
                        <div class="user_icon">
                            <img src="../img/user_icon_gray.png" alt="user icon" id="user_icon">
                        </div>

                        <div class="user_delegateName">{|userinfo.id-info.account|}:<span id="user_delegateName"></span>
                        </div>
                        <div class="user_NoDelegateName">{|userinfo.id-info.NoDelegateName|}</span></div>
                    </div>

                    <div class="right">
                        <div class="left">
                            {|userinfo.id-info.phone|}：
                            <span class="info_phone"></span>
                        </div>
                        <div class="right">
                            <div class="left">{|userinfo.id-info.password|}:******</div>

                            <!--TODO:添加点击显示修改密码弹窗-->
                            <a class="change_pwd" href="javascript:void(0);">{|userinfo.id-info.btn-change|}</a>
                        </div>
                    </div>
                </div>

                <div class="userInfo_bottom">
                    <div class="title_box">
                        <h3>
                            <span>{|userinfo.id-info.userInfoBottomTitle|}</span>

                            <span class="line"></span>

                            <span class="unverified">{|userinfo.id-info.status_val|}</span>
                        </h3>

                        <hr>
                    </div>

                    <div class="userInfo_b_b">
                        <div class="page saveAndSubmit">
                            <div class="tip_box">
                                <p>{|userinfo.id-info.tipTitle|}</p>

                                <p>{|userinfo.id-info.tipP1|}</p>
                                <p>{|userinfo.id-info.tipP2|}</p>
                                <p>{|userinfo.id-info.tipP3|}</p>
                            </div>

                            <div class="change_step_box">
                                <div class="left active">{|userinfo.id-info.step1|}</div>

                                <div class="right">{|userinfo.id-info.step2|}</div>
                            </div>

                            <div class="saveAndSubmit_b">
                                <div class="step1_box active">
                                    <div class="tip">{|userinfo.id-info.step1Title|}</div>

                                    <div class="QRcode_box">
                                        <img src="../img/index_qrcode.png" alt="QR code">
                                    </div>

                                    <div class="address">{|index.banner.address|}</div>

                                    <a href="javascript:void(0);" class="next_step">{|userinfo.id-info.nextStep|}</a>
                                </div>

                                <div class="step2_box">
                                    <ul class="form">
                                        <!--超级节点名-->
                                        <li class="delegateName">
                                            <div class="left">{|userinfo.account-info.delegname|}</div>

                                            <div class="right">
                                                <span class="info_delegateName"></span>
                                                <input type="text"
                                                       placeholder="{|userinfo.id-info.inputSuperNodeName|}">
                                            </div>
                                        </li>

                                        <!--提币地址-->
                                        <li>
                                            <div class="left">{|userinfo.account-info.address|}</div>

                                            <div class="right">
                                                <input type="text" placeholder="{|userinfo.id-info.inputAddress|}">
                                            </div>
                                        </li>

                                        <!--分红比例-->
                                        <li class="share">
                                            <div class="left">{|userinfo.account-info.share|}</div>

                                            <div class="right">
                                                <div class="share_t">
                                                    <a class="s_btn changeShareNumBtn" data-type="-1"
                                                       href="javascript:void(0);"></a>

                                                    <div class="share_t_m">
                                                        <div class="left">
                                                            <input class="shareNum" value="50" placeholder=""
                                                                   type="text" maxlength="2"
                                                                   onkeyup="this.value=this.value.replace(/\D/g,'').substring(0,2)">
                                                        </div>

                                                        <div class="right">%</div>
                                                    </div>

                                                    <a class="a_btn changeShareNumBtn" data-type="1"
                                                       href="javascript:void(0);"></a>
                                                </div>
                                            </div>

                                            <p class="shareTip">{|userinfo.account-info.share-tip|}</p>
                                        </li>

                                        <!--验证码-->
                                        <li class="send">
                                            <div class="left">{|userinfo.id-info.signCode|}</div>

                                            <div class="right">
                                                <input type="text" placeholder="{|userinfo.account-info.img-code|}">

                                                <span class="pic-code hover"></span>
                                            </div>
                                        </li>

                                        <!--短信验证-->
                                        <li class="send">
                                            <div class="left">{|userinfo.id-info.msgCode|}</div>

                                            <div class="right">
                                                <input type="text" placeholder="{|userinfo.account-info.phone-code|}">

                                                <span class="mes-code btn-download hover"
                                                      data-text="{|userinfo.account-info.send|}">{|userinfo.account-info.send|}</span>
                                            </div>
                                        </li>
                                    </ul>

                                    <a class="submit" href="javascript:void(0);">{|userinfo.id-info.submit|}</a>
                                </div>
                            </div>
                        </div>

                        <div class="page review">审核中</div>

                        <div class="page notPass">拒绝</div>
                    </div>
                </div>


                <!--身份信息-->
                <!--<h3>{|userinfo.id-info.title|}</h3>-->


                <!--<ul>-->
                <!--<li class="clear">-->
                <!--<label class="left">{|userinfo.id-info.phone|}</label>-->
                <!--<div class="right info_phone"></div>-->
                <!--</li>-->
                <!--</ul>-->


                <!--<ul>-->
                <!--<li class="clear">-->
                <!--<label class="left">{|userinfo.id-info.status|}</label>-->
                <!--<div class="right certification_status"></div>-->
                <!--</li>-->
                <!--</ul>-->


                <!--<ul id="reason_box">-->
                <!--<li class="clear">-->
                <!--&lt;!&ndash;未通过原因&ndash;&gt;-->
                <!--<label class="left">{|userinfo.id-info.why|}</label>-->
                <!--<div style="color:red;" class="right" id="reason"></div>-->
                <!--</li>-->
                <!--</ul>-->


                <!--<ul>-->
                <!--&lt;!&ndash;修改密码&ndash;&gt;-->
                <!--<li class="clear">-->
                <!--<label class="left">{|userinfo.id-info.password|}</label>-->
                <!--<div class="right">-->
                <!--******-->
                <!--&lt;!&ndash;修改密码的文字&ndash;&gt;-->
                <!--<span id="modifed"-->
                <!--class="changePassword">{|userinfo.id-info.btn-change|}</span>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->


                <!--修改密码显示的输入框-->
                <!--<div class="change-password-wrap">-->
                <!--<ul style="padding-left: 0px;">-->
                <!--<li>-->
                <!--<input type="password" class="password" id="password_input"-->
                <!--placeholder="{|userinfo.id-info.set-password|}">-->

                <!--</li>-->
                <!--<li>-->
                <!--<input type="password" class="password" id="password_again_input"-->
                <!--placeholder="{|userinfo.id-info.confrim|}">-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->


                <!--账户信息-->
                <!--<h3>{|userinfo.account-info.title|}</h3>-->


                <!--<ul>-->
                <!--<li class="clear">-->
                <!--<label class="left">{|userinfo.account-info.delegname|}</label>-->
                <!--<div class="right">-->
                <!--<span class="info_delegateName"></span>-->
                <!--<span class="changePassword" id="bind_delegateName">{|userinfo.account-info.bind_address|}</span>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->


                <!--<ul>-->
                <!--<li class="clear">-->
                <!--<label class="left">{|userinfo.account-info.address|}</label>-->
                <!--<div class="right" id="info_withdrawAddress">-->
                <!--<span class="address" data-type="0"></span>-->

                <!--<span id="bind_address" class="changePassword"></span>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->


                <!--<ul>-->
                <!--<li class="clear has-tip">-->
                <!--<label class="left">{|userinfo.account-info.share|}</label>-->
                <!--<div class="input-wrap"><input class="percent" value="0" id="info_shareRate">%-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="tip">-->
                <!--<div>-->
                <!--<label>{|userinfo.account-info.share-tip|}</label>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->


                <!--<ul>-->
                <!--<li>-->
                <!--<div>-->
                <!--<input class="modify-input code_input" id="signcode_input"-->
                <!--placeholder="{|userinfo.account-info.img-code|}">-->
                <!--<span class="pic-code" id="send_apply"></span>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->


                <!--<ul>-->
                <!--<li>-->
                <!--<div>-->
                <!--<input class="modify-input code_input" id="smscode_input"-->
                <!--placeholder="{|userinfo.account-info.phone-code|}">-->
                <!--<span class="mes-code btn-download" id="send_msg"-->
                <!--data-text="{|userinfo.account-info.send|}">{|userinfo.account-info.send|}</span>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->


                <!--<div>-->
                <!--<div id="tip"></div>-->
                <!--&lt;!&ndash;保存信息按钮&ndash;&gt;-->
                <!--<div class="btn-wrap" id="save_btn">-->
                <!--<span class="btn-login">{|userinfo.account-info.btn-info|}</span>-->
                <!--</div>-->
                <!--&lt;!&ndash;提交成为候选节点按钮&ndash;&gt;-->
                <!--<div class="btn-wrap">-->
                <!--<span class=" btn-login color" id="submit_btn">-->
                <!--<span class="bind">{|userinfo.account-info.btn-submit|}</span>-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->

            </div>


            <!--提币记录-->
            <div class="item page2">
                <table class="am-table addtable pc-up-table">
                    <thead>
                    <tr class="tr">
                        <th class="changeth">
                            {|userinfo.record.address|}
                            <span class="address"></span>
                        </th>
                        <th class="changeth">
                            {|userinfo.record.sum|}
                            <span class="extract_token_num"></span>
                        </th>
                    </tr>

                    </thead>
                </table>

                <div>

                    <div class=" recode am-scrollable-horizontal am-text-nowrap">
                        <table class="am-table addtable" id="extract_token_bottom">
                            <thead>
                            <tr class="tr">
                                <th>{|userinfo.record.time|}</th>
                                <th>{|userinfo.record.vote|}</th>
                                <th>{|userinfo.record.reward|}</th>
                                <th>{|userinfo.record.share|}</th>
                                <th>{|userinfo.record.isno|}</th>
                                <th>{|userinfo.record.operation|}</th>
                            </tr>
                            </thead>


                            <tbody id="extract_token_body"></tbody>
                        </table>

                        <div class="row paging">
                            <div class="pagesbox">
                                <div class="first_page left"><</div>

                                <div class="other_page"></div>

                                <div class="last_page right">></div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>


            <!--退出申请-->
            <div class="item page1" style="display: none;">

                <!--表-->
                <div id="exit_form">
                    <ul>
                        <li class="clear">
                            <label class="left">{|userinfo.id-info.phone|}</label>
                            <div class="right info_phone"></div>
                        </li>

                        <li class="clear">
                            <label class="left">{|userinfo.account-info.delegname|}</label>
                            <div class="right info_delegateName"></div>
                        </li>

                        <li class="clear">
                            <label class="left">{|userinfo.account-info.address|}</label>
                            <div class="right address"></div>
                        </li>

                        <li>
                            <div>
                                <input type="password" class="modify-input code_input"
                                       id="password_input_exit" placeholder="请输入密码">
                            </div>
                        </li>

                        <li>
                            <div>
                                <input class="modify-input code_input" id="signcode_input_exit"
                                       placeholder="请输入图片验证码">
                                <span class="pic-code send_apply" id="send_apply_exit"><img
                                        src=""></span>
                            </div>
                        </li>

                        <li>
                            <div>
                                <input class="modify-input code_input" id="smscode_input_exit"
                                       placeholder="请输入短信验证码">
                                <span class="mes-code btn-download" id="send_msg_exit"
                                      data-text="发送验证码">发送验证码</span>
                            </div>
                        </li>
                    </ul>


                    <!--退出申请-->
                    <div class="btn-wrap">
                        <div id="exit_tip"></div>
                        <span class="btn-login"
                              id="submit_exit_btn">{|userinfo.apply.btn-submit|}</span>
                    </div>

                </div>

                <!--信息-->
                <div id="exit_info" style="display: none">
                    <ul>
                        <li class="clear">
                            <label class="left">{|userinfo.exit.delegname|}</label>
                            <div class="right info_delegateName"></div>
                        </li>

                        <li class="clear">
                            <label class="left">{|userinfo.exit.phone|}</label>
                            <div class="right info_phone"></div>
                        </li>

                        <li class="clear">
                            <label class="left">{|userinfo.exit.status|}</label>
                            <div class="right" id="exit_status"></div>
                        </li>

                        <li class="clear">
                            <label class="left">{|userinfo.exit.adress|}</label>
                            <div class="right address"></div>
                        </li>

                        <li class="clear">
                            <label class="left">{|userinfo.exit.num|}</label>
                            <div class="right" id="rebackCount"></div>
                        </li>

                        <li class="clear">
                            <label class="left">{|userinfo.exit.time|}</label>
                            <div class="right" id="createTime"></div>
                        </li>

                        <li class="clear">
                            <label class="left">{|userinfo.exit.ID|}</label>
                            <div class="right" id="rebackTrxId"></div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--</div>-->
    </div>

    <!--</section>-->
    <!--</div>-->

    <!--</div>-->

</section>

<!--绑定节点名弹窗-->
<!--<div class="pop_win" id="bind_delegateName_win">-->
<!--<div class="win">-->
<!--<div class="close hover pop_win_close"></div>-->
<!--<span id="bind_delegateName_title">{|userinfo.account-info.bind_super_node_name|}</span>-->

<!--<input type="text" class="bind_address_input" id="bind_delegateName_input"-->
<!--placeholder="{|register.delegname-tip|}">-->

<!--<div class="tip win_tip"></div>-->
<!--<a href="javascript:void(0)" class="btn-login" id="bind_delegateName_btn">{|userinfo.confirm|}</a>-->
<!--</div>-->

<!--<div class="pop_win_bg"></div>-->
<!--</div>-->

<!--绑定地址弹窗-->
<!--<div class="pop_win" id="bind_address_win">-->
<!--<div class="win">-->
<!--<div class="close hover pop_win_close"></div>-->
<!--<span id="bind_address_title"></span>-->

<!--<input type="text" class="bind_address_input" id="bind_address_input"-->
<!--placeholder="{|userinfo.account-info.bind_address_tip|}">-->

<!--<div class="tip win_tip"></div>-->
<!--<a href="javascript:void(0)" class="btn-login" id="bind_address_btn">{|userinfo.confirm|}</a>-->
<!--</div>-->

<!--<div class="pop_win_bg"></div>-->
<!--</div>-->

<!--确认提交信息弹窗-->
<!--<div class="pop_win" id="submit_node_win">-->
<!--<div class="win">-->
<!--<div class="close hover pop_win_close"></div>-->
<!--<span id="submit_node_title">{|userinfo.account-info.submit_win_title|}</span>-->

<!--<p>-->
<!--<span class="left">{|userinfo.exit.delegname|}</span>-->
<!--<span class="right" id="check_delegateName"></span>-->
<!--</p>-->

<!--<p>-->
<!--<span class="left">{|userinfo.exit.phone|}</span>-->
<!--<span class="right" id="check_phone"></span>-->
<!--</p>-->

<!--<p>-->
<!--<span class="left">{|userinfo.record.address|}</span>-->
<!--<span class="right" id="check_withdrawAddress"></span>-->
<!--</p>-->

<!--<p>-->
<!--<span class="left">{|userinfo.account-info.share|}</span>-->
<!--<span class="right" id="check_shareRate"></span>-->
<!--</p>-->

<!--<div class="tip win_tip"></div>-->
<!--<a href="javascript:void(0)" class="btn-login" id="submit_node_btn">{|userinfo.confirm|}</a>-->
<!--</div>-->

<!--<div class="pop_win_bg"></div>-->
<!--</div>-->

<!--修改密码弹窗-->
<div class="change_pwd_win">
    <div class="card">
        <div class="card_title">
            <h3><span>{|userinfo.id-info.btn-change|}{|userinfo.id-info.password|}</span><span></span></h3>
            <hr>
        </div>

        <div class="card_content">
            <ul class="form">

                <!--旧密码-->
                <li>
                    <div class="left">{|userinfo.id-info.inputOldPwd|}</div>

                    <div class="right">
                        <input type="password">
                    </div>
                </li>

                <!--新密码-->
                <li>
                    <div class="left">{|userinfo.id-info.inputNewPwd|}</div>

                    <div class="right">
                        <input type="password">
                    </div>
                </li>

                <!--手机号-->
                <li class="phone">
                    <div class="left">{|userinfo.id-info.phone|}</div>

                    <div class="right">
                        <span class="info_phone"></span>
                    </div>
                </li>

                <!--验证码-->
                <li class="send">
                    <div class="left">{|userinfo.id-info.signCode|}</div>

                    <div class="right">
                        <input type="text" placeholder="{|userinfo.account-info.img-code|}">

                        <span class="pic-code hover" id="send_apply"></span>
                    </div>
                </li>

                <!--短信验证-->
                <li class="send">
                    <div class="left">{|userinfo.id-info.msgCode|}</div>

                    <div class="right">
                        <input type="text" placeholder="{|userinfo.account-info.phone-code|}">

                        <span class="mes-code btn-download hover" id="send_msg"
                              data-text="{|userinfo.account-info.send|}">{|userinfo.account-info.send|}</span>
                    </div>
                </li>
            </ul>

            <span class="tip"></span>
            <a class="change_pwd_affirm" href="javascript:void(0);">{|userinfo.confirm|}</a>
        </div>
    </div>
</div>


{%include "footer.html"%}