{%include "head_top.html"%}
{%include "head_link.html"%}
<link rel="stylesheet" href="../css/share_details.min.css">
<script src="../js/share_details.min.js"></script>
{%include "head_bottom.html"%}

<div style="height:80px;background:linear-gradient(0, #6a50fa, #6551f1);"></div>
<section id="share_details">
    <div class="box">
        <div class="detail_top">
            <div>
                <span>{|share_details.vote|}：</span>
                <span id="voteNum"></span>
            </div>

            <div>
                <span>{|share_details.reward|}：</span>
                <span id="reward"></span>
            </div>

            <div>
                <span>{|share_details.share|}：</span>
                <span id="income"></span>
            </div>
        </div>

        <div class="detail_bottom">
            <ul class="th">
                <li>{|userinfo.record.time|}</li>

                <li>{|userinfo.record.vote|}</li>

                <li>{|userinfo.record.reward|}</li>

                <li>{|userinfo.record.share|}</li>

                <li>{|userinfo.record.isno|}</li>
            </ul>

            <ul class="content"></ul>
        </div>
    </div>
</section>


{%include "footer.html"%}